*.csv
.DS_Store
.ipynb_checkpoints/
.wayback2csv/
followers over time.ipynb
wayback2csv.code-workspace
gettr_followers_over_time.py
twitter_followers_over_time.py
gab_followers_over_time.py
*.pyc
__pycache__/
data/
*.ipynb